html, body {
    margin: 0;
    padding: 0;
}

/* border-color: #492700;
    background-color: #ccb979; */

body {
    font-family: 'Kantumruy Pro', sans-serif;
    display: flex;
    flex-direction: column;
    color: #492700;
    background-color: #ccb979;
    height: 100vh;
    width: 100vw;
}

#header {
    font-size: 45px;
    font-weight: 300;
    padding: 30px 40px;
}

#listDiv > div {
    max-height: 80vh;
    overflow: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.list-Button {
    color: #492700;
    border-width: 1px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 22px;
}

#container {
    height: 100%;
    padding: 0px 40px;
    position: relative;
    overflow: hidden;
}

#addItem {
    display: flex;
    height: 32px;
    flex-direction: row;
    background-color: #ccb979;
    border-color: #492700;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 35px;
    font-weight: 100;
    vertical-align: middle;
    position: absolute;
    bottom: 40px;
    width: calc(100% - (2*(40px) + 2*(10px)));
}

#list-Entry {
    height: 30px;
    width: 100%;
    background-color: #ccb979;
    border-radius: 20px;
    border: none;
    resize: none;
    outline: none;
    caret-color: #492700;
    color: #492700;
    font-size: 18px;
    font-weight: 0;
}

::placeholder {
    color: #492700;
    opacity: 0.4;
    font-weight: 100;
  }

  hr {
    width: 95%;
    color: #492700;
  }

#button-1 {
    position: relative;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    height: 95%;
    width: 40px;
    color: #492700;
    background-color: #ccb979;
    vertical-align: middle;
    cursor: pointer;
}

.item {
    display: flex;
    flex-direction: row;
    color: #492700;
    word-wrap: break-word;
}

.text {
    width: auto;
    font-size: 30px;
    font-weight: 300;
    word-wrap: break-word;
}

.taskCheck {
    color: #492700;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 22px;
    margin-right: 5px;
}

.deleteTask {
    color: #492700;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 18px;
    margin-left: 5px;
}

@media screen and (max-width: 700px) {
    #header {
        text-align: center;
        padding: 12px 0px;
    }
    #container {
        padding: 0px 20px;
    }
    #addItem {
        height: 35px;
        font-size: 35px;
        font-weight: 100;
        vertical-align: middle;
        position: absolute;
        bottom: 20px;
        width: calc(100% - (2*(20px) + 2*(10px)));
    }
    .text {
        font-size: 23px;
    }
    .taskCheck {
        font-size: 20px;
    }
    .deleteTask {
        font-size: 16px;
    }
}